

<div class="row g-0 navbar-brand">

  <div class="col-sm-3">

    <img  class= "img-fluid" src = "./assets/EMPA 1.png" >
  </div>


    <div class="col-sm-7">    <img  class= "img-fluid" src = "./assets/Escola de Musica Pedro Adão-1.png" >
    
    </div>


<div class="img_icons col-sm-2 nopadding    d-flex flex-column justify-content-center align-items-center">
    <!-- Media Socias-->
    <div class="  " style="font-size: 10px;">

 <!-- Facebook -->
 <a class="btn btn-outline-light btn-floating m-1 "  href="#!" role="button"
 ><i class="bi bi-facebook"></i></a>

<!-- WhatsApp -->
<a class="btn btn-outline-light btn-floating m-1"  href="#!" role="button"
 ><i class="bi bi-whatsapp"></i></a>

<!-- Google -->
<a class="btn btn-outline-light btn-floating m-1"  href="#!" role="button"
 ><i class="bi bi-google"></i></a>

<!-- Instagram -->
<a class="btn btn-outline-light btn-floating m-1"  href="#!" role="button"
 ><i class="bi bi-instagram"></i></a>

    </div>

  </div>
</div>




<nav class="navbar navbar-expand-lg bg-body-tertiary ">


    


    <div class="container-fluid">
      <a class="navbar-brand" href="#">EMPA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Instrumentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" >
              Dropdown
            </a>
          
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page">Contato</a>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        
      </div>
    </div>
  </nav>