<div class="top__bar">

 

    <div>
        <img class="main__name__school" src = "./docs/assets/Escola de musica Pedro .jpg">
    </div>


    <!-- Media Socias-->
    <div class="social__media">

 <!-- Facebook -->
 <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
 ><i class="bi bi-facebook"></i></a>

<!-- WhatsApp -->
<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
 ><i class="bi bi-whatsapp"></i></a>

<!-- Google -->
<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
 ><i class="bi bi-google"></i></a>

<!-- Instagram -->
<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
 ><i class="bi bi-instagram"></i></a>

<!-- Linkedin -->
<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
 ><i class="bi bi-linkedin"></i></a>

<!-- Github -->
<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
 ><i class="bi bi-github"></i></a>

    </div>
</div>




<div class="container">
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EMPA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Instrumentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" >
              Dropdown
            </a>
          
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page">Contato</a>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        
      </div>
    </div>
  </nav>

  <div class="container  image__capa">
    <img src ="./docs/assets/Capa_principal.png">

  </div>

  <p class="container">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni excepturi maxime quaerat sunt quisquam recusandae, quod asperiores odit repudiandae iusto blanditiis aut saepe eum. Dolores earum veniam quaerat praesentium repudiandae.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia sed possimus numquam fugit reprehenderit, saepe sit deleniti nam quas magnam est ipsum quibusdam eum blanditiis necessitatibus voluptates libero fugiat quisquam.
  </p>