.top__bar{

    background-color: black;
    padding: 5px;
    display: flow-root;
    
}
/*
h2 {

    font-size: 45px;
    background-color: purple;
    color: white;
    padding: 5px ;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
}
*/
.container-XXL{

    background-color: black;
    border-radius: 15px ;
    width: 0px;  
    height: 0px;      
    padding: 15px;
}

.social__media{

    color: white;
    background-color: black;
}

.main__name__school{

    display: grid;
    width: 50%;
    border-radius: 5px;
    /*justify-content: flex-start;*/
}

.top__bar{

    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 20px;    
}

.image__capa{

    width: 50%;
    

}
