<div class="container" >

<h1>Precisa definir um texto sobre a escola e definir divisao da pagina

    <br> texto com imagens
    <br> texto com videos
    
</h1>

<div class="row" style="width: 100%;">

    <div class="col" style="width: 100%;">
        <img src="./assets/Capa_principal.png" alt="">

        <p></p>

        <img src="./assets/Capa_principal.png" alt="">

    </div>
    <div class="col" style="width: 100%;">
        <p class="text__sobre" style="width: 100%;">
            A EMESP Tom Jobim é a Escola de Música do Estado de São Paulo – instituição do Governo do Estado de São Paulo e da Secretaria de Cultura e Economia Criativa do Estado, gerida pela organização social Santa Marcelina Cultura.

A instituição proporciona tanto a formação de crianças e jovens nas áreas da música erudita e popular, quanto o aperfeiçoamento de músicos que já completaram sua formação e que desejam aprofundar e ampliar ainda mais seus conhecimentos. São 1.500 alunos que têm à sua disposição cerca de 198 habilitações e cursos gratuitos de canto e instrumentos musicais.

Referência no ensino de música brasileira, a EMESP Tom Jobim reúne em seu corpo docente profissionais com reconhecimento internacional. Com um projeto artístico-pedagógico, que visa uma formação rica e abrangente, os cursos oferecidos pela escola proporcionam aos alunos e alunas conhecimento, vivência e compreensão musical, abarcando toda a história da música ocidental, desde a música antiga à contemporânea, do popular ao erudito.

Diversas parcerias internacionais promovem intercâmbios de alunos, professores e ideias dentro da escola, proporcionando um ambiente fértil em interações pedagógicas, artísticas e profissionais. A ponte entre o aprendizado e a profissionalização está nos grupos artísticos, que reúnem os alunos em projetos de alta intensidade artística e pedagógica, que não apenas os prepara para a vida profissional, mas já proporciona, por si só, grandes experiências e conquistas como músicos e cidadãos.

Departamentos e instalações
O prédio de seis andares conta com 56 salas, voltadas para aulas individuais e coletivas, e 46 pianos. As salas são equipadas conforme necessidades específicas, tendo acervo de instrumentos musicais para estudo, ensaios e aulas.

Em 2012 a EMESP inaugurou o Piano Lab, totalmente equipado com pianos digitais da marca Roland, voltados para o aprendizado coletivo, e que permitem ao professor escutar e orientar os alunos via áudio.

A instituição mantém o Auditório Zequinha de Abreu, localizado no térreo, com capacidade para 85 lugares, e que recebe recitais, apresentações, palestras, master classes e workshops.

A EMESP Tom Jobim conta ainda com um estúdio de gravação, anexo ao Auditório, que realiza registros audiovisuais das atividades pedagógicas e musicais de alunos, professores e músicos convidados. O acervo do estúdio pode ser consultado por alunos e professores da EMESP Tom Jobim, mediante solicitação junto à equipe de Produção.

No terceiro andar está a Biblioteca Mário Casali, que possui mais de 20 mil títulos (livros, partituras, CDs, vídeos, entre outros). Atende alunos e professores da Escola, que podem realizar consulta in loco ou empréstimo de material. O catálogo do acervo também pode ser consultado via internet, pela página do aluno ou página do professor. Reservas, consultas e empréstimos só podem ser realizados pessoalmente no local. A biblioteca possui espaço para leitura, pesquisa e consulta de vídeo e áudio.
        </p>
    </div>

    <div class="row">

        <div class="col-sm-12"  >
            <div >
                <img style="width: 100%;" src="./assets/Capa_principal.png" ></div>
           
        </div>
        <div class="row">
            <p class="text__sobre">
                A <a routerLink="">EMPA Escola de Musica Pedro Adao</a>  – instituição do Governo do Estado de São Paulo e da Secretaria de Cultura e Economia Criativa do Estado, gerida pela organização social Santa Marcelina Cultura.
    
A instituição proporciona tanto a formação de crianças e jovens nas áreas da música erudita e popular, quanto o aperfeiçoamento de músicos que já completaram sua formação e que desejam aprofundar e ampliar ainda mais seus conhecimentos. São 1.500 alunos que têm à sua disposição cerca de 198 habilitações e cursos gratuitos de canto e instrumentos musicais.
    
Referência no ensino de música brasileira, a EMESP Tom Jobim reúne em seu corpo docente profissionais com reconhecimento internacional. Com um projeto artístico-pedagógico, que visa uma formação rica e abrangente, os cursos oferecidos pela escola proporcionam aos alunos e alunas conhecimento, vivência e compreensão musical, abarcando toda a história da música ocidental, desde a música antiga à contemporânea, do popular ao erudito.
    
Diversas parcerias internacionais promovem intercâmbios de alunos, professores e ideias dentro da escola, proporcionando um ambiente fértil em interações pedagógicas, artísticas e profissionais. A ponte entre o aprendizado e a profissionalização está nos grupos artísticos, que reúnem os alunos em projetos de alta intensidade artística e pedagógica, que não apenas os prepara para a vida profissional, mas já proporciona, por si só, grandes experiências e conquistas como músicos e cidadãos.
    
Departamentos e instalações
O prédio de seis andares conta com 56 salas, voltadas para aulas individuais e coletivas, e 46 pianos. As salas são equipadas conforme necessidades específicas, tendo acervo de instrumentos musicais para estudo, ensaios e aulas.
    
Em 2012 a EMESP inaugurou o Piano Lab, totalmente equipado com pianos digitais da marca Roland, voltados para o aprendizado coletivo, e que permitem ao professor escutar e orientar os alunos via áudio.
    
A instituição mantém o Auditório Zequinha de Abreu, localizado no térreo, com capacidade para 85 lugares, e que recebe recitais, apresentações, palestras, master classes e workshops.
    
A EMESP Tom Jobim conta ainda com um estúdio de gravação, anexo ao Auditório, que realiza registros audiovisuais das atividades pedagógicas e musicais de alunos, professores e músicos convidados. O acervo do estúdio pode ser consultado por alunos e professores da EMESP Tom Jobim, mediante solicitação junto à equipe de Produção.
    
No terceiro andar está a Biblioteca Mário Casali, que possui mais de 20 mil títulos (livros, partituras, CDs, vídeos, entre outros). Atende alunos e professores da Escola, que podem realizar consulta in loco ou empréstimo de material. O catálogo do acervo também pode ser consultado via internet, pela página do aluno ou página do professor. Reservas, consultas e empréstimos só podem ser realizados pessoalmente no local. A biblioteca possui espaço para leitura, pesquisa e consulta de vídeo e áudio.
            </p>
        </div>

    </div>
</div>
    
</div>