<div class="container" >

    <h1>Pagina de apresentacao dos Professores</h1>

    <ul>
        <li>Verificar se pagina sera realmente util</li>
        <li>definir modelo de apresentacao</li>
        <li>textos comentarios e etc</li>
    </ul>


    <div class="teachers__empa" style="width: 100%;">

        <div style="padding: 15px;" style="width: 100%;">
            <div class="row " >


                <div class="col"><img src="./assets/jazz.jpg" alt=""style="width: 100%;" ></div>
                <div class="col"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, iste minus! Doloremque voluptate ut error alias, pariatur earum corporis est, modi blanditiis nostrum cum cumque ratione harum ea placeat. Nesciunt.</div>
        
            </div>
        </div>
        

        <div style="padding: 15px;">
            <div class="row ">


                <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente culpa necessitatibus facere, dolorum, eos accusantium non officia voluptatem eligendi odit repudiandae optio iste. Labore, ut! Rerum delectus adipisci animi magnam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio tempora eveniet dolores amet dicta quod ipsum accusantium iure laborum modi explicabo reprehenderit sunt, laudantium consequuntur aperiam eaque at harum magnam!
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus corrupti placeat illum consectetur dolore, dolores eaque quod aliquam minus consequatur totam porro beatae repudiandae, ab modi deserunt fuga sequi minima!</div>
                <div class="col"><img src="./assets/jazz.jpg" alt="" style="width: 100%;">   </div>
        
            </div>
    </div>
        
        <div class="row">


            <div class="col"></div>
            <div class="col"></div>
    
        </div>

        <div class="row">


            <div class="col"></div>
            <div class="col"></div>
    
        </div>
    </div>
 


</div>