
<div class="container" >

    <h1>area para apresentacao dos instrumentos</h1>

    <ul>
        <li>listar todos instrumentos da escola</li>
        <li>definir modelo de apresentacao. Modelo de apresentacao sugerida 
        modelo da amazon ou plataforma de venda de produtos
        </li>
        <li>textos comentarios e erc</li>
        <li> Vefrificar s os links disponiveis como instagram, facebook whatsApp</li>
    </ul>




<section>

    <div class="row" style="padding: 10px;">
        <div class="col"><img src="./assets/violino.jpg" alt="">
            <p style="font-style: oblique; font-size: larger;">Que maneiro! Um violino :( </p>

        </div>

        <div class="col"><img src="./assets/violino.jpg" alt="">
            <p style="font-style: oblique; font-size: larger;">Que maneiro! Um violino :( </p>

        </div>

        <div class="col"><img src="./assets/violino.jpg" alt="">
            <p style="font-style: oblique; font-size: larger;">Que maneiro! Um violino :( </p>

        </div>

        <div class="col"><img src="./assets/violino.jpg" alt="">
            <p style="font-style: oblique; font-size: larger;">Que maneiro! Um violino :( </p>

        </div>

    </div>
    <div class="row"  style="padding: 10px;">

      
            <div class="col"><img src="./assets/violino.jpg" alt="" >
                <p style="font-style: oblique; font-size: larger;">Que maneiro! Outro violino :( </p>
    
            </div>
            <div class="col"><img src="./assets/violino.jpg" alt="">
                <p style="font-style: oblique; font-size: larger;">Que maneiro! Outro violino :( </p>
    
            </div>
            <div class="col"><img src="./assets/violino.jpg" alt="" >
                <p style="font-style: oblique; font-size: larger;">Que maneiro! Outro violino :( </p>
    
            </div>
            <div class="col"><img src="./assets/violino.jpg" alt="" >
                <p style="font-style: oblique; font-size: larger;">Que maneiro! Outro violino :( </p>
    
           
        </div>
        
    </div>

    <div class="row"  style="padding: 10px;">

        <div class="col"><img src="./assets/violino.jpg" alt="">
            <p style="font-style: oblique; font-size: larger;">Instrumento de ...  </p>

        </div>

        <div class="col"><img src="./assets/violino.jpg" alt="">
            <p style="font-style: oblique; font-size: larger;">Instrumento de ...  </p>

        </div>

        <div class="col"><img src="./assets/violino.jpg" alt="">
            <p style="font-style: oblique; font-size: larger;">Instrumento de ...  </p>

        </div>

        <div class="col"><img src="./assets/violino.jpg" alt="">
            <p style="font-style: oblique; font-size: larger;">Instrumento de ...  </p>

        </div>

    </div>
    


</section>

</div>



